    /*
    Flaticon icon font: Flaticon
    Creation date: 11/03/2017 10:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-100:before { content: "\f100"; }
.flaticon-101:before { content: "\f101"; }
.flaticon-102:before { content: "\f102"; }
.flaticon-103:before { content: "\f103"; }
.flaticon-104:before { content: "\f104"; }
.flaticon-105:before { content: "\f105"; }
.flaticon-106:before { content: "\f106"; }
.flaticon-107:before { content: "\f107"; }
.flaticon-108:before { content: "\f108"; }
.flaticon-109:before { content: "\f109"; }
.flaticon-10a:before { content: "\f10a"; }
.flaticon-10b:before { content: "\f10b"; }
.flaticon-10c:before { content: "\f10c"; }
.flaticon-10d:before { content: "\f10d"; }
.flaticon-10e:before { content: "\f10e"; }
.flaticon-10f:before { content: "\f10f"; }
.flaticon-110:before { content: "\f110"; }
.flaticon-111:before { content: "\f111"; }
.flaticon-112:before { content: "\f112"; }
.flaticon-113:before { content: "\f113"; }
.flaticon-114:before { content: "\f114"; }
.flaticon-115:before { content: "\f115"; }
.flaticon-116:before { content: "\f116"; }
.flaticon-117:before { content: "\f117"; }
.flaticon-118:before { content: "\f118"; }
.flaticon-119:before { content: "\f119"; }
.flaticon-11a:before { content: "\f11a"; }
.flaticon-11b:before { content: "\f11b"; }
.flaticon-11c:before { content: "\f11c"; }
.flaticon-11d:before { content: "\f11d"; }
.flaticon-11e:before { content: "\f11e"; }
.flaticon-11f:before { content: "\f11f"; }
.flaticon-120:before { content: "\f120"; }
.flaticon-121:before { content: "\f121"; }
.flaticon-122:before { content: "\f122"; }
.flaticon-123:before { content: "\f123"; }
.flaticon-124:before { content: "\f124"; }
.flaticon-125:before { content: "\f125"; }
.flaticon-126:before { content: "\f126"; }
.flaticon-127:before { content: "\f127"; }
.flaticon-128:before { content: "\f128"; }
.flaticon-12a:before { content: "\f129"; }
.flaticon-129:before { content: "\f12a"; }
.flaticon-12b:before { content: "\f12b"; }
.flaticon-12c:before { content: "\f12c"; }
.flaticon-12d:before { content: "\f12d"; }
.flaticon-13d:before { content: "\f12e"; }
.flaticon-12e:before { content: "\f12f"; }
.flaticon-130:before { content: "\f130"; }
.flaticon-131:before { content: "\f131"; }
.flaticon-132:before { content: "\f132"; }
.flaticon-133:before { content: "\f133"; }
.flaticon-134:before { content: "\f134"; }
.flaticon-135:before { content: "\f135"; }
.flaticon-136:before { content: "\f136"; }
.flaticon-137:before { content: "\f137"; }
.flaticon-138:before { content: "\f138"; }
.flaticon-139:before { content: "\f139"; }
.flaticon-13a:before { content: "\f13a"; }
.flaticon-13b:before { content: "\f13b"; }
.flaticon-13c:before { content: "\f13c"; }
.flaticon-12f:before { content: "\f13d"; }
.flaticon-13e:before { content: "\f13e"; }
.flaticon-13f:before { content: "\f13f"; }
.flaticon-140:before { content: "\f140"; }
.flaticon-141:before { content: "\f141"; }
.flaticon-142:before { content: "\f142"; }
.flaticon-143:before { content: "\f143"; }
.flaticon-144:before { content: "\f144"; }
.flaticon-145:before { content: "\f145"; }
.flaticon-146:before { content: "\f146"; }
.flaticon-147:before { content: "\f147"; }
.flaticon-148:before { content: "\f148"; }
.flaticon-149:before { content: "\f149"; }
.flaticon-14a:before { content: "\f14a"; }
.flaticon-14b:before { content: "\f14b"; }
.flaticon-14c:before { content: "\f14c"; }
.flaticon-14d:before { content: "\f14d"; }
.flaticon-14e:before { content: "\f14e"; }
.flaticon-14f:before { content: "\f14f"; }
.flaticon-150:before { content: "\f150"; }
.flaticon-151:before { content: "\f151"; }
.flaticon-152:before { content: "\f152"; }
.flaticon-153:before { content: "\f153"; }
.flaticon-154:before { content: "\f154"; }
.flaticon-155:before { content: "\f155"; }
.flaticon-156:before { content: "\f156"; }
.flaticon-157:before { content: "\f157"; }
.flaticon-158:before { content: "\f158"; }
.flaticon-159:before { content: "\f159"; }
.flaticon-15a:before { content: "\f15a"; }
.flaticon-15b:before { content: "\f15b"; }
.flaticon-15c:before { content: "\f15c"; }
.flaticon-15d:before { content: "\f15d"; }
.flaticon-15e:before { content: "\f15e"; }
.flaticon-15f:before { content: "\f15f"; }
.flaticon-160:before { content: "\f160"; }
.flaticon-161:before { content: "\f161"; }
.flaticon-162:before { content: "\f162"; }
.flaticon-163:before { content: "\f163"; }
.flaticon-164:before { content: "\f164"; }
.flaticon-165:before { content: "\f165"; }
.flaticon-166:before { content: "\f166"; }
.flaticon-167:before { content: "\f167"; }
.flaticon-168:before { content: "\f168"; }
.flaticon-169:before { content: "\f169"; }
.flaticon-16a:before { content: "\f16a"; }
.flaticon-16b:before { content: "\f16b"; }
.flaticon-16c:before { content: "\f16c"; }
.flaticon-16d:before { content: "\f16d"; }
.flaticon-16e:before { content: "\f16e"; }
.flaticon-16f:before { content: "\f16f"; }
.flaticon-170:before { content: "\f170"; }
.flaticon-171:before { content: "\f171"; }
.flaticon-172:before { content: "\f172"; }
.flaticon-173:before { content: "\f173"; }
.flaticon-174:before { content: "\f174"; }
.flaticon-175:before { content: "\f175"; }
.flaticon-176:before { content: "\f176"; }
.flaticon-177:before { content: "\f177"; }
.flaticon-178:before { content: "\f178"; }
.flaticon-179:before { content: "\f179"; }
.flaticon-17a:before { content: "\f17a"; }
.flaticon-17b:before { content: "\f17b"; }
.flaticon-17c:before { content: "\f17c"; }
.flaticon-17d:before { content: "\f17d"; }
.flaticon-17e:before { content: "\f17e"; }
.flaticon-17f:before { content: "\f17f"; }
.flaticon-180:before { content: "\f180"; }
.flaticon-181:before { content: "\f181"; }
.flaticon-182:before { content: "\f182"; }
.flaticon-183:before { content: "\f183"; }
.flaticon-184:before { content: "\f184"; }
.flaticon-185:before { content: "\f185"; }
.flaticon-186:before { content: "\f186"; }
.flaticon-187:before { content: "\f187"; }
.flaticon-188:before { content: "\f188"; }
.flaticon-189:before { content: "\f189"; }
.flaticon-18a:before { content: "\f18a"; }
.flaticon-18b:before { content: "\f18b"; }
.flaticon-18c:before { content: "\f18c"; }
.flaticon-18d:before { content: "\f18d"; }
.flaticon-18e:before { content: "\f18e"; }
.flaticon-18f:before { content: "\f18f"; }
    
    $font-Flaticon-100: "\f100";
    $font-Flaticon-101: "\f101";
    $font-Flaticon-102: "\f102";
    $font-Flaticon-103: "\f103";
    $font-Flaticon-104: "\f104";
    $font-Flaticon-105: "\f105";
    $font-Flaticon-106: "\f106";
    $font-Flaticon-107: "\f107";
    $font-Flaticon-108: "\f108";
    $font-Flaticon-109: "\f109";
    $font-Flaticon-10a: "\f10a";
    $font-Flaticon-10b: "\f10b";
    $font-Flaticon-10c: "\f10c";
    $font-Flaticon-10d: "\f10d";
    $font-Flaticon-10e: "\f10e";
    $font-Flaticon-10f: "\f10f";
    $font-Flaticon-110: "\f110";
    $font-Flaticon-111: "\f111";
    $font-Flaticon-112: "\f112";
    $font-Flaticon-113: "\f113";
    $font-Flaticon-114: "\f114";
    $font-Flaticon-115: "\f115";
    $font-Flaticon-116: "\f116";
    $font-Flaticon-117: "\f117";
    $font-Flaticon-118: "\f118";
    $font-Flaticon-119: "\f119";
    $font-Flaticon-11a: "\f11a";
    $font-Flaticon-11b: "\f11b";
    $font-Flaticon-11c: "\f11c";
    $font-Flaticon-11d: "\f11d";
    $font-Flaticon-11e: "\f11e";
    $font-Flaticon-11f: "\f11f";
    $font-Flaticon-120: "\f120";
    $font-Flaticon-121: "\f121";
    $font-Flaticon-122: "\f122";
    $font-Flaticon-123: "\f123";
    $font-Flaticon-124: "\f124";
    $font-Flaticon-125: "\f125";
    $font-Flaticon-126: "\f126";
    $font-Flaticon-127: "\f127";
    $font-Flaticon-128: "\f128";
    $font-Flaticon-12a: "\f129";
    $font-Flaticon-129: "\f12a";
    $font-Flaticon-12b: "\f12b";
    $font-Flaticon-12c: "\f12c";
    $font-Flaticon-12d: "\f12d";
    $font-Flaticon-13d: "\f12e";
    $font-Flaticon-12e: "\f12f";
    $font-Flaticon-130: "\f130";
    $font-Flaticon-131: "\f131";
    $font-Flaticon-132: "\f132";
    $font-Flaticon-133: "\f133";
    $font-Flaticon-134: "\f134";
    $font-Flaticon-135: "\f135";
    $font-Flaticon-136: "\f136";
    $font-Flaticon-137: "\f137";
    $font-Flaticon-138: "\f138";
    $font-Flaticon-139: "\f139";
    $font-Flaticon-13a: "\f13a";
    $font-Flaticon-13b: "\f13b";
    $font-Flaticon-13c: "\f13c";
    $font-Flaticon-12f: "\f13d";
    $font-Flaticon-13e: "\f13e";
    $font-Flaticon-13f: "\f13f";
    $font-Flaticon-140: "\f140";
    $font-Flaticon-141: "\f141";
    $font-Flaticon-142: "\f142";
    $font-Flaticon-143: "\f143";
    $font-Flaticon-144: "\f144";
    $font-Flaticon-145: "\f145";
    $font-Flaticon-146: "\f146";
    $font-Flaticon-147: "\f147";
    $font-Flaticon-148: "\f148";
    $font-Flaticon-149: "\f149";
    $font-Flaticon-14a: "\f14a";
    $font-Flaticon-14b: "\f14b";
    $font-Flaticon-14c: "\f14c";
    $font-Flaticon-14d: "\f14d";
    $font-Flaticon-14e: "\f14e";
    $font-Flaticon-14f: "\f14f";
    $font-Flaticon-150: "\f150";
    $font-Flaticon-151: "\f151";
    $font-Flaticon-152: "\f152";
    $font-Flaticon-153: "\f153";
    $font-Flaticon-154: "\f154";
    $font-Flaticon-155: "\f155";
    $font-Flaticon-156: "\f156";
    $font-Flaticon-157: "\f157";
    $font-Flaticon-158: "\f158";
    $font-Flaticon-159: "\f159";
    $font-Flaticon-15a: "\f15a";
    $font-Flaticon-15b: "\f15b";
    $font-Flaticon-15c: "\f15c";
    $font-Flaticon-15d: "\f15d";
    $font-Flaticon-15e: "\f15e";
    $font-Flaticon-15f: "\f15f";
    $font-Flaticon-160: "\f160";
    $font-Flaticon-161: "\f161";
    $font-Flaticon-162: "\f162";
    $font-Flaticon-163: "\f163";
    $font-Flaticon-164: "\f164";
    $font-Flaticon-165: "\f165";
    $font-Flaticon-166: "\f166";
    $font-Flaticon-167: "\f167";
    $font-Flaticon-168: "\f168";
    $font-Flaticon-169: "\f169";
    $font-Flaticon-16a: "\f16a";
    $font-Flaticon-16b: "\f16b";
    $font-Flaticon-16c: "\f16c";
    $font-Flaticon-16d: "\f16d";
    $font-Flaticon-16e: "\f16e";
    $font-Flaticon-16f: "\f16f";
    $font-Flaticon-170: "\f170";
    $font-Flaticon-171: "\f171";
    $font-Flaticon-172: "\f172";
    $font-Flaticon-173: "\f173";
    $font-Flaticon-174: "\f174";
    $font-Flaticon-175: "\f175";
    $font-Flaticon-176: "\f176";
    $font-Flaticon-177: "\f177";
    $font-Flaticon-178: "\f178";
    $font-Flaticon-179: "\f179";
    $font-Flaticon-17a: "\f17a";
    $font-Flaticon-17b: "\f17b";
    $font-Flaticon-17c: "\f17c";
    $font-Flaticon-17d: "\f17d";
    $font-Flaticon-17e: "\f17e";
    $font-Flaticon-17f: "\f17f";
    $font-Flaticon-180: "\f180";
    $font-Flaticon-181: "\f181";
    $font-Flaticon-182: "\f182";
    $font-Flaticon-183: "\f183";
    $font-Flaticon-184: "\f184";
    $font-Flaticon-185: "\f185";
    $font-Flaticon-186: "\f186";
    $font-Flaticon-187: "\f187";
    $font-Flaticon-188: "\f188";
    $font-Flaticon-189: "\f189";
    $font-Flaticon-18a: "\f18a";
    $font-Flaticon-18b: "\f18b";
    $font-Flaticon-18c: "\f18c";
    $font-Flaticon-18d: "\f18d";
    $font-Flaticon-18e: "\f18e";
    $font-Flaticon-18f: "\f18f";